[data-theme='dark'] {
    --primary: #BB86FC;
    --primary-variant: #3700B3;
    --secondary: #03DAC6;
    --background: #121212;
    --surface: #121212;
    --error: #CF6679;
    --warning: #F39C12;
    --on-background: #FFFFFF;
    --on-background-grey: #c7c7c7;
    --on-surface: #FFFFFF;
    --white-black : #b4b4b4;
    --placeholder : #c7c7c7;
  }

  *{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  [data-theme='light']{
    --background: #ddd;
    --suface: #fff;
    --on-background: #333;
    --on-background-grey: #6d6d6d;
    --on-surface: rgb(33, 32, 32);
    --placeholder:#6f6d6d;
    --white-black: #5a5858;
  }
  body{
    background: var(--background);
  }

  
  .loading-bar{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color: var(--on-background);
  }
 
  /* Heeader nav */
  .app-container {
    color: var(--on-background);
    background-color: var(--background);
    min-height: 100vh;
    transition: all ease-in-out 0.5s;
  }
  section{
    padding: 20px;
  }
  header{
    padding: 20px;
    border-bottom: 1px solid var(--on-background);
    display: flex;
    font-size: 20px;
    align-items: center;
  }
  header h2{
    flex: 1;
  }
  nav ul{
    display:flex;
    list-style: none;
    gap: 20px;
    align-items: center;
  }
  nav ul li a{
    font-size: 23px;
  }

  nav ul li button{
  background-color: transparent;
  border: 0;
  color: var(--on-background);
  font-size: 20px;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 10px;
  }

  /* header nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: var(--on-background);
    font-size: 20px;
  } */

   a {
    text-decoration: none;
    color: var(--on-background);
  }
  nav p{
    font-weight: 500;
  }
  /* searchBar */
  .search-section{
    margin-top: 20px;
  }
  .search-section .container {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding-left: 40px;
    padding-right: 40px;
  }
  .search-section .container h2{
    font-size: 25px;
    font-weight: 600;
    color: var(--on-background);
  }

  .container  .searchBar {
    width: 100%;
    padding: 10px;
    border: 1px solid var(--on-background);
    border-radius: 10px;
    color: var(--on-background);
    font-size: 18px;
    background: var(--background);
  }

  /* card */

  .card{
    border: 1px solid var(--on-background);
    color: var(--on-background);
    width: 250px;
    height: 250px;
    padding: 20px;
    text-decoration: none;
}

.card .container{
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.card-header .card-date{
    color: var(--on-background-grey);
  }
  .card-header .card-title{
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    white-space: pre-wrap;
    
  }

  
  .card-body p{
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 6; /* start showing ellipsis when 3rd line is reached */
    white-space: pre-wrap; /* let the text wrap preserving spaces */
  }
 
  /* card-list */

  .card-list{
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }

  .card-list .container-card{
    display: flex;
    gap: 20px;
    justify-content: center;
    flex-wrap: wrap;
  }
  


  /* button action */
   .btn-action{
    display: flex;
    position: fixed;
    justify-content: end;
    align-items: flex-end;
    right: 50px;
    bottom: 20px;
    gap: 10px;
  }

  .btn-action button{
    padding: 15px;
    color: var(--background);
    background: var(--on-background);
    border-radius: 100%;
    border: none;
    cursor: pointer;
  }


.text-not-notes{
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  font-size: larger;
  color: var(--white-black);
}

/* Detail page */
 .detail-page .container{
  display: flex;
  flex-direction: column;
  padding: 0 50px;
  gap: 10px;
 }
 .title-detail{
  font-size: xx-large;
  font-weight: 900;
 }
 .date-detail {
  font-size: medium;
  color: var(--white-black);
 }
 .desc-detail{
  font-size: larger;
 }

 /* input data */
 .form-input-book{
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 10px;
 }
 .input-title{
  width: 100%;
 }
 .input-title-data{
  width: 100%;
  padding: 15px;
  background: transparent;
  border: 1px solid var(--on-background);
  font-size: larger;
  border-radius: 10px;
  color: var(--on-background);
 }
 [data-placeholder]:empty:before {
  color: var(--placeholder);
  color: var(--on-background-grey);
  content: attr(data-placeholder);
 }
 .input-desc {
  height: 500px;
  padding: 10px;
  border: 1px solid var(--on-background);
 }
 .input-desc p{
  height: 100%;
  outline: none;
  font-size: larger;
 }
 .btn-submit-notes{
  display: flex;
  justify-content: end;
 }
 .submit-data-notes{
  padding: 15px;
  color: var(--background);
  background: var(--on-background);
  border-radius: 100%;
  border: none;
  cursor: pointer;
 }
 .submit-data-notes i{
  font-size: 2rem;
    font-weight: 900;
 }
 /* .input-desc p:focus{
  border: none;
 } */
  /* Not Found */
  .text-notfound{
    color: var(--on-background);
    text-align: center;
  }

  /* login input */
  .login-input{
    display:flex;
    flex-direction: column;
    gap: 20px;
  }
  .login-input p a{
    text-decoration: underline;
  }
  .login-input p a:hover{
    color: var(--primary-variant);
  }
  .login-input, .form-input input, .login-input button{
    font-size: 20px;
  }
.form-input{
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 15px;
}

.form-input input{
  padding: 15px;
  background: transparent;
  border-radius: 100px;
  border: 2px solid var(--on-background-grey);
  color: var(--on-background);
}

.form-input input:focus{
  border: 3px solid var(--on-background);
}

.login-input form button{
  width: 100%;
  padding: 10px;
  border-radius: 100px;
  background: transparent;
  color: var(--on-background);
  border: 1px solid var(--on-background);
  cursor: pointer;
  transition: all .3s;
}

.login-input form button:hover{
  background: var(--on-background);
  color: var(--background);
  transition: all .3s;
}

.login-input form button:disabled{
  background: var(--on-background);
  display: flex;
  justify-content: center;
}